//- Variables and templates for arrays of data which need for most projects.
//- See documentation and examples in vars-doc.pug.

-
	var siteUrl = "";
	var absolutePath = siteUrl;

	var pageTitle = "Index",
	features = [
		{title: "Feature", descr: "Simple text"},
	],
	siteMapData = [
		{title: "Site map section", list: [
			{label: "site map item", link: "/catalogs/1/sections/9"},
			]
		},
	],
	myForm = [
		{
			label: "",
			input: {id: "form-name", placeholder: "Имя", type: "text", name: "name", required: ""},
		},
	],
	socLinks = [
		{icon: "fb", label: "Facebook", link: "#"},
		{icon: "ins", label: "Instagram", link: "#"},
		{icon: "vk", label: "Вконтакте", link: "#"},
	],
	css = {
	},
	images = {
		logo: {src: absolutePath + "/data/190226/2136184881629692.jpg", alt: "logo"},
	},
	i, j = 0;
