src/sass/core
src/sass/modules
src/sass/tools
src/sass/mlut.scss

src/img/assets/**/*
!src/img/assets/.gitkeep

src/css/style.css

src/**/*.map

src/js/core
src/js/modules
src/js/tools
src/js/scripts.js
src/js/mlut.js

src/libs/**/*
!src/libs/.gitkeep
!src/libs/mlut.*

node_modules
dist
logs