src/core-blocks
src/core-utils
src/sass/base
src/sass/mlut.scss
src/sass/includes/**/*
!src/sass/includes/_settings.scss

src/img/sprite-parts/**/*
!src/img/sprite-parts/.gitkeep

src/css/style.css

src/**/*.map

src/js/scripts.js

src/libs/**/*
!src/libs/.gitkeep
!src/libs/mlut.*

node_modules
dist