//- Generate pairs of inputs and labels

//- 'inputs' is list of objects which contains labels and attributes of inputs.
//- Array example 'myForm' there is in vars.pug.

//- 'inputClass' is string with CSS classes for inputs.

//- 'labelClass' is CSS classes for labels.

//- 'groupClass' is CSS classes for paragraph which unite label and input.

mixin formInputs(inputs, inputClass = "input input--common", labelClass = "mV-vh", groupClass = "")
	- for(var i = 0; i < inputs.length; i++)
		p(class=groupClass)
			label(class=labelClass for=inputs[i].input.id)= inputs[i].label || inputs[i].input.placeholder
			input(class=inputClass)&attributes(inputs[i].input)
