-
	var pageTitle = "Index",
	products = [
		{title: "Product", price: "1000"},
	],
	siteMap = [
		{title: "Site map section", list: [
			{label: "site map item", link: "/catalogs/1/sections/9"},
			]
		},
	],
	myForm = [
			{id: "form-name", placeholder: "Имя", type: "text", name: "name", required: ""},
	],
	socLinks = [
		{icon: "fb", label: "Facebook", link: "#"},
		{icon: "ins", label: "Instagram", link: "#"},
		{icon: "vk", label: "Вконтакте", link: "#"},
	],
	absolutePath = "",
	i, j = 0;
