include includes/vars.pug
doctype html
html(lang="ru")
	head
		- pageTitle = "Work task";
		include includes/head.pug
	body.page
		include includes/header.pug
		main
			.wrapper
				h1 Simple text

		include includes/footer.pug
		include includes/scripts.pug
