include tools/vars.pug
include tools/mixins.pug
include tools/functions.pug
doctype html
html(lang="ru")
	head
		- pageTitle = "Mlut project";
		include includes/head.pug
	body.M0.H100p.Ff-ss0
		include includes/header.pug
		main
			.wrapper
				h1 Simple text

		include includes/footer.pug
		include includes/scripts.pug
